<!DOCTYPE html>
<html lang="{{ translation.selectedLanguage }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% for stylesheet in template.stylesheets %}
            <link rel="stylesheet" href="{{ stylesheet }}" type="text/css"/>
        {% endfor %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {% for javascript in template.javascripts %}
        <script type="text/javascript" src="{{ javascript }}"></script>
    {% endfor %}
{% endblock %}
</body>
</html>
